<footer class="footer">
  <div class="footer__inner l-container">
    <div class="footer__site">
      <img class="footer__siteLogo" src="/images/common/logo_footer.svg" alt="Co-Work MdN">

      <address class="footer__address">
        〒101-0051<br>
        東京都千代田区神田神保町1-105<br>
        03-0000-0000
      </address>

      <ul class="footer__sns">
        <li class="footer__snsItem">
          <a class="footer__snsLink" href="#">
            <img class="footer__snsIcon" src="/images/common/ico_twitter.svg" alt="Twitter">
          </a>
        </li>

        <li class="footer__snsItem">
          <a class="footer__snsLink" href="#">
            <img class="footer__snsIcon" src="/images/common/ico_facebook.svg" alt="Facebook">
          </a>
        </li>
      </ul>
    </div><!-- /.footer__site -->

    <ul class="footer__navList01">
      <li class="footer__navItem01">
        <a class="footer__navLink01" href="/service/">サービス</a>
      </li>

      <li class="footer__navItem01">
        <a class="footer__navLink01" href="/plan/">料金プラン</a>
      </li>

      <li class="footer__navItem01">
        <a class="footer__navLink01" href="/access/">アクセス</a>
      </li>

      <li class="footer__navItem01">
        <a class="footer__navLink01" href="/contact/">お問合せ</a>
      </li>
    </ul>

    <ul class="footer__navList02">
      <li class="footer__navItem02">
        <a class="footer__navLink02" href="/recruit/">採用情報</a>
      </li>

      <li class="footer__navItem02">
        <a class="footer__navLink02" href="/company/">運営会社</a>
      </li>

      <li class="footer__navItem02">
        <a class="footer__navLink02" href="/sitepolicy/">サイトポリシー</a>
      </li>

      <li class="footer__navItem02">
        <a class="footer__navLink02" href="/privacypolicy/">プライバシーポリシー</a>
      </li>
    </ul>
  </div><!-- /.footer__inner -->

  <p class="footer__copyright"><small class="footer__copyrightText">&copy; 2020 Co-Work MdN. All Rights Reserved.</small></p>

  <a class="footer__pageTop" href="#top">ページの先頭へ戻る</a>
</footer>
