<header class="header">
  <div class="header__inner l-container">
    <h1 class="header__heading">
      <a class="header__link" href="/">
        <img class="header__logo" src="/images/common/logo_header.svg" alt="Co-Work MdN">
      </a>
    </h1>

    <button class="gNavBtn" id="js-gNavBtn" type="button" title="メニュー開閉">
      <span class="gNavBtn__bar"></span>
    </button>

    <nav class="header__gNav gNav">
      <ul class="gNav__list">
        <li class="gNav__item">
          <a class="gNav__link" href="#">
            サービス
            <span class="gNav__en" lang="en">Service</span>
          </a>
        </li>

        <li class="gNav__item">
          <a class="gNav__link" href="#">
            料金プラン
            <span class="gNav__en" lang="en">Price</span>
          </a>
        </li>

        <li class="gNav__item">
          <a class="gNav__link" href="#">
            アクセス
            <span class="gNav__en" lang="en">Access</span>
          </a>
        </li>

        <li class="gNav__item">
          <a class="gNav__link" href="#">
            お問合せ
            <span class="gNav__en" lang="en">Contact</span>
          </a>
        </li>
      </ul>
    </nav>
  </div><!-- /.header__inner -->
</header>
