<div class="topHero">
  <picture>
    <source
      media="(max-width: 767px)"
      srcset="/images/top/ph_mv_sp.jpg">

    <img class="topHero__image" src="/images/top/ph_mv_pc.jpg" alt="写真：コワーキングスペースの室内">
  </picture>

  <div class="topHero__content">
    <p class="topHero__catch">
      神保町駅徒歩3分の<br class="spOnly">駅チカに、<br>
      24h OPEN<span class="topHero__catchSmall">※</span>の<br class="spOnly">コワーキングスペース誕生!!
    </p>

    <p class="topHero__text">※マスタープラン会員のみ</p>
  </div><!-- /.topHero__content -->
</div><!-- /.topHero -->
